@model List<PowerAppsCMS.Models.ProductGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMPS.cshtml";
}

<h1 class="page-title mt-5">MPS Planning select Category</h1>
<div class="row row-eq-height">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 mb-3">
            <div class="card mb-4">
                <div class="card-body relative-link category-link">
                    <a href="@Url.Action("Details", "MPS", new { id = item.ID})" class="overlay-link"></a>
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text mb-0">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>
        </div>
    }
</div>